<oj-toolbar id='t1' class="oj-toolbar-top-border oj-toolbar-bottom-border">
  <oj-button id='b1' on-oj-action='[[longAction]]'>
    <span slot='startIcon' class='oj-fwk-icon-clock oj-fwk-icon'></span>
    Long Action
  </oj-button>
</oj-toolbar>
<br/>
<oj-table id='t1' aria-label='Employees Table' data='[[datasource]]' as='cell' columns='{{columnArray}}'
  columns-default='{"template": "cellTemplate", "headerTemplate": "headerTemplate"}' style='width: 100%;'>
  <template slot="cellTemplate">
    <oj-bind-text value="[[cell.data]]"></oj-bind-text>
  </template>
  <template slot="amountTemplate" data-oj-as="cell">
    <td data-bind="text: converterHelper.convertNumericValue(cell.data)">
    </td>
  </template>
  <template slot="headerTemplate" data-oj-as="header">
    <oj-bind-text value="[[header.data]]"></oj-bind-text>
  </template>
  <oj-paging-control id="p1" data="[[datasource]]" page-size="10" slot="bottom">
  </oj-paging-control>
</oj-table>